.pag-Acompanhamento{
	/*background-color: red;*/
	width: 80%;
	height: 100%;
	margin-left: 200px;
	margin-right: 200px;
	transition: all .5s;
}
input[type="checkbox"]:checked ~ .pag-Acompanhamento{
    transform: translateX(130px);
}
.title-pag{
    text-align: center;
    padding: 40px;
	/*background-color: blue;*/
	height: 100px;
}
#title-pag-top{
	color: #989696;
    font-size: 60px;
    font-family: Stencil Std;
}
#title-pag-top{
    color: #725700;
}
.table-test{
	margin-top: 60px;
	width: 100%;
}
#selection-emp{
	display: block;
	color: black;
}
#selection-emp:hover{
	color: lightgray;

}
