.pagina-ind-empresa{
    /*background-color: #bfbfbf;*/
    margin-left: 200px;
    margin-right: 200px;
    height: 900px;
    transition: all .5s;
}
input[type="checkbox"]:checked ~ .pagina-ind-empresa{
    transform: translateX(130px);
}
.legend-info{
    font-weight: bold;
}
.legend-info{

    display: initial;
    font-size: 16px;
    color: gray;
}
.titulo-emp{
    /* background-color: blue; */
    padding: 50px;
}
.informacao-empresa{
    background-color: #fdfdfd;
    width: 1000px;
    height: 1000px;
    margin: 40px;
}
.text-info-emp{
    font-size: 23px;
    margin-left: 40px;
    font-style: italic;
    font-weight: lighter;
    height: 200px;
}
.info-emp-pag{
    display: inline;
    border-right: #725700;
    border-style: solid ;
    margin-left: 100px;
    width: 20%;
    height: 100px;
}
.info-block-one{
    /* background-color: red; */
    display: inline;
    width: 90%;
    height: 100px;
}
.text-info-emp-one{
    font-size: 20px;
    display: table-cell;
    border-color: #725700;
    margin-top: 100px;
    margin-left: 80px;
    width: 16.8%;
}
.info-emp-pag-one{
    display:inline;
    border-right: solid;
    border-color: #725700;
    width: 16.8%;
    height: 10px;

}
p{
    font-weight: bold;
}
.legend-info{

    display: initial;
    font-size: 20px;
    color: gray;
}
.info-block-two{
    display: inline;
    width: 100%;
    height: 250px;
}
.info-emp-pag-two{
    display: inline-block;
    border-right: red;
    border-style: solid;
    margin-top: 50px;
    margin-left: 50px;
    width: 538px;
    height: 150px;
}
.info-block-tree{
    /* background-color: lawngreen; */
    display: inline;
    width: 90%;
    height: 100px;
}
.info-emp-pag-tree{
    display: inline;
    border-right: #725700;
    width: 100%;
    height: 100px;
}
.text-info-emp-tree{

    font-size: 20px;
    display: table-cell;
    border-right: groove;
    border-style: line;
    border-bottom: solid;
    border-color: #725700;
    margin-top: 100px;
    margin-left: 100px;
    width: 9%;
    height: 50%;
}
