{% extends 'barra-lateral.html' %}

{% block content %}
<div class="pag-inicial">
                <div id="banner-inicial">
                    <img id="img-home" src="{{ url_for('static', filename='img/home.jpg') }}">
                <h1 id="titulo-index">Controle Clientes</h1>
                
 <div class="login">
            <input type="text" name="Nome" size="20" placeholder="Login"
                value="" required>

            </div>
            <div class="senha"> 
         <input type="text" name="Nome" size="20" placeholder="Senha"
                value="" required>
                </div>
                <ul class="join">
                        <li><a class="entrar" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                    Entrar</a></li>
                </ul>
                </div>
            <div class="valores-empresa" >
                <div id="titulo-valores">
                    <h3 id="valores-title">ALLDAX CONTABILIDADE & CONSULTORIA</h3>
                </div>
                <div id="cultura">
                    <div class="culturas" id="visao-cultura">
                        <h4>VISÃO</h4><hr>
                        <p>Tornar-se, até 2022, uma referência em consultoria contábil em Lucro Real no Distrito Federal e região, reconhecido como uma das melhores empresas contábeis para formação profissional.</p>
                    </div>
                    <div class="culturas" id="valores-cultura">
                        <h4 >VALORES</h4><hr>
                        <p>Relacionamento com Cliente<br>Zelo<br>Confiabilidade<br>Overdelivery<br>Overdelivery<br>Comprometimento</p>
                
                    </div>
                    <div class="culturas" id="missao-valores" >
                        <h4>MISSÃO</h4><hr>
            
                        <p>Participar do sucesso e crescimento de nossos clientes, encontrar soluções e construir relações duradouras.</p>

                    </div>

                </div>
            </div>
        </div>
{% endblock %}