{% extends 'barra-lateral.html' %}

{% block content %}
<div class="pag.calendario">
   <div class="ano">
       <title>2021</title>
        <div class="emp.janeiro">
         <h1>JANEIRO</h1>
            <div class="semana">
                <div id="dia">01</div>
                <div id="dia">02</div>
                <div id="dia">03</div>
                <div id="dia">04</div>
                <div id="dia">05</div>
                <div id="dia">06</div>
                <div id="dia">07</div>
                <div id="dia">08</div>
                <div id="dia">09</div>
                <div id="dia">10</div>
                <div id="dia">11</div>
                <div id="dia">12</div>
                <div id="dia">13</div>
                <div id="dia">14</div>
                <div id="dia">15</div>
                <div id="dia">16</div>
                <div id="dia">17</div>
                <div id="dia">18</div>
                <div id="dia">19</div>
                <div id="dia">10</div>
                <div id="dia">20</div>
                <div id="dia">21</div>
                <div id="dia">22</div>
                <div id="dia">23</div>
                <div id="dia">24</div>
                <div id="dia">25</div>
                <div id="dia">26</div>
                <div id="dia">27</div>
                <div id="dia">28</div>
                <div id="dia">29</div>
                <div id="dia">30</div>
                <div id="dia">31</div>
                <div id="dia">23</div>
            </div>
        </div>
    
    
    
    
    
    </dvi>

</div>
{% endblock %}
{% block scripts %}

{% endblock %}