{% extends 'barra-lateral.html' %}

{% block content %}

<div class="pag-certificado">

    <div class="title-pag-certificado">
        <h3 id="title-certificado">Certificados Digitais</h3><hr>
    </div>

    <div class="table-certificado" style="width: 100%;">
        <table id="table-certif-emp" class="table table-certifado-empresa" style="width: 100%;">

            <thead class="table-header">

                <th class="table-cell">CÓDIGO DOMÍNIO</th>
                <th class="table-cell">RAZÃO</th>
                <th class="table-cell">CNPJ</th>
                <th class="table-cell">TIPO CERTIFICADO</th>
                <th class="table-cell">STATUS</th>
                <th class="table-cell">DATA VENCIMENTO</th>
            
            </thead>

            <tbody>
                {% for cod_emp, razao_emp, cnpj_emp, tipo_certificado, data_certificado, stats_certif in lista %}
                <tr>
                    <td>{{ cod_emp }}</td>
                    <td>{{ razao_emp }}</td>
                    <td>{{ cnpj_emp }}</td>
                    <td>A1</td>
                    {% if stats_certif == "Vencido" %}
                    <td style="color: red;">{{ stats_certif }}</td>
                    {% elif stats_certif == "À Vencer" %}
                    <td style="color: #DDD706;">{{ stats_certif }}</td>
                    {% else %}
                    <td style="color: green;">{{ stats_certif }}</td>

                    {% endif %}
                    <td>{{ data_certificado }}</td>

                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

</div>


{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
    $('#table-certif-emp').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [[4, "desc"], [0, "asc"]],
        "pageLength": 25,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de _MAX_ registos no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registos",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
    } );
</script>

{% endblock %}